.container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .navigation {
    display: flex;
    gap: 10px;
    margin-left: 2px;
  }
  .rightdiv{
    right: 0;
   position: absolute;
   background-color: rgb(112, 131, 131);
   z-index: 2;
   margin-top: 10%;
   padding: 1rem;
  }

  .containerpro {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
  }
  
  .card > div {
    margin-bottom: 10px;
  }
  
  .card label {
    font-weight: bold;
  }
  
  .card img {
    width: 40%;
    height: 40%;
    border-radius: 4px;
  }
  